#################################################
## ssl_misc.cnf #################################
#################################################

[ crl_ext ]
# issuerAltName=issuer:copy
authorityKeyIdentifier=keyid:always

